<header class="header-search">

  <div class="header-limiter">

    <h1><a href="#"><span>{{title | titlecase}}</span></a></h1>

    <nav>
      <a href="#">Home</a>
      <a href="#" routerLink="/blog">Blog</a>
      <a href="#">Pricing</a>
      <a href="#">Contact</a>
      <a href="#" routerLink="/form">Log in</a>
    </nav>

    <div class="date">
      <label>Choose a date type:</label>
      <select #select [(ngModel)]="choice">
          <option value="Formatted">Formatted</option>
          <option value="Unformatted">Unformatted</option>
      </select>
      <div [ngSwitch]="choice">
        <p *ngSwitchCase="'Formatted'">{{toDate |  date:'dd-MM-yy HH:mm'}}</p>
        <p *ngSwitchCase="'Unformatted'"> {{toDate}}</p>
      </div>

      <p>T: <input type="text"
                        [(ngModel)]="tenge"/>
        $: {{ tenge | currConverter:'T'}} </p>
      <p>$: <input type="text" [(ngModel)]="dollar"/>
        T : {{ dollar | currConverter:'$'}}
      </p>
    <form method="get" action="#">
      <input type="search" placeholder="Search!" name="search">
    </form>

  </div>
  </div>

</header>
